@model LibrosApp.Models.Author

@{
    ViewData["Title"] = "Crear Nuevo Autor";
}

<h1>Crear Nuevo Autor</h1>

<form asp-action="CreateAuthor" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Country"></label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
