@model List<LibrosApp.Models.Author>

<h1>Lista de Autores</h1>

@if (Model.Count == 0)
{
    <p>No hay autores disponibles.</p>
}
else
{
    <ul>
        @foreach (var author in Model)
        {
            <li>@author.Name</li>
        }
    </ul>
}
