@model IEnumerable<LibrosApp.Models.Book>

@{
    ViewData["Title"] = "Libros del Autor";
}

<h1>Libros del Autor: @ViewBag.AuthorName</h1>

@if (Model.Any())
{
    <ul>
        @foreach (var book in Model)
        {
            <li>@book.Title (@book.PublicationYear)</li>
        }
    </ul>
}
else
{
    <p>No hay libros disponibles para este autor.</p>
}
uUUU